<h1 class="text-center">Current Appointment(<%= @appointment.id %>) <span><%= link_to "View Info", @appointment, class: "badge rounded-pill text-bg-info" %></span></h1>

<%= render "form", appointment: @appointment %>

